.navbar {
  height: 50px;
  background-color: rgba(102, 16, 83, 0.65);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;

  .logo {
    color: #fff;
    text-decoration: none;
  }
}

.list {
  display: flex;
  align-items: center;
  list-style-type: none;

  &-item + &-item {
    margin-left: 10px;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.link {
  color: inherit;
  text-decoration: none;
}
